<h1>New post</h1>

<form action="<%= posts_url %>" method="POST">

    <label>Subject:
        <input type="text" name="post[subject]" value="<%= @post.subject %>">
    </label>

    <label>Content:
        <input type="text" name="post[content]" value="<%= @post.content %>">
    </label>   

    <label>URL:
        <input type="text" name="post[url]" value="<%= @post.url %>">
    </label>  

    <label>Sub_ID:
        <input type="text" name="post[sub_id]" value="<%= @post.sub_id %>">
    </label> 

    <%= auth_token %>
    <input type="submit" value="Create Post">

</form>