<!DOCTYPE html>
<html>
  <head>
    <title>RedditClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <header class="header">
        <div class="logo">
          <a href="<%= subs_url %>">
            <%= image_tag "logo.jpg" %>
          </a>
        </div>
        <% if logged_in? %>
        <div class="welcome">
          <p>Welcome, <%= current_user.username %></p>
        </div>
        <div class="nav-buttons">
          <form action="<%= session_url %>" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <%= auth_token %>
            <input type="submit" value="Sign Out">
          </form>
        </div>

        <% else %>
        <div class="welcome"></div>

        <div class="nav-buttons">
          <form action="<%= new_user_url %>" method="GET">
            <%= auth_token %>
            <input type="submit" value="Create Account">
          </form>

          <form action="<%= new_session_url %>" method="GET">
            <%= auth_token %>
            <input type="submit" value="Sign In">
          </form>
        </div>
        
        <% end %>
      </header>
    </div>

    <div class="wrapper">
    <% if flash[:errors] %>
      <ul>
        <% flash[:errors].each do |error| %>      
        <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
    </div>

    <div class="wrapper content">
      <main>
      <%= yield %>
      </main>

      <aside>
        <a href="<%= new_sub_url %>">Create a new subreddit</a>
      </aside>
    </div>
  </body>
</html>
