<h1><%= @sub.title.capitalize %></h1>

<p><%= @sub.description %></p>
<p>Moderator: <%= @moderator.username %></p>

<% if current_user && current_user.id == @sub.user_id %>
<a href="<%= edit_sub_url(@sub) %>">Edit Sub</a>
<% end %>
<br>

<a href="<%= new_post_url %>">Create a new post</a>

<br>
<% if @posts %>
<ul>
<% @posts.each do |post| %>
<li><a href="<%= post_url(post) %>"><%= post.subject %></a></li>
<% end %>
</ul>
<% end %>
